<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">

</head>
<body class="bg-gray-50 text-gray-800">


    <nav class="bg-blue-600 shadow-lg">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            
            <a href="/" class="text-3xl font-bold text-white">ShellBeFriends</a>
            
            
            <ul class="flex space-x-6">
                <li>
                    <a href="{% url 'dpost' %}" class="text-white hover:text-gray-200 text-lg font-medium">Home</a>
                </li>
                <li>
                    <a href="{% url 'cpost' %}" class="text-white hover:text-gray-200 text-lg font-medium">Create Post</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-gray-200 text-lg font-medium">Profile</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-gray-200 text-lg font-medium">Logout</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-gray-200 text-lg font-medium">Login</a>
                </li>
                <li>
                    <a href="registor.html" class="text-white hover:text-gray-200 text-lg font-medium">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

   
    <main class="container mx-auto mt-10 px-4">
        {% block content %}
       
        
        {% endblock %}
    </main>



</body>
</html>
